<div class="cart__item">
  {% if item.image %}
    <div class="cart__item-image">
      <img src="{{ item.image | image_url: width: 100 }}" alt="{{ item.image.alt }}">
    </div>
  {% endif %}
  
  <div class="cart__item-info">
    <h3 class="cart__item-title">{{ item.product.title }}</h3>
    
    {% unless item.product.has_only_default_variant %}
      <div class="cart__item-variant">{{ item.variant.title }}</div>
    {% endunless %}
    
    <div class="cart__item-price">{{ item.final_price | money }}</div>
    
    <div class="cart__item-quantity">
      <button type="button" class="cart__item-quantity-button cart__item-quantity-minus">-</button>
      <input type="number" name="updates[]" value="{{ item.quantity }}" min="0" class="cart__item-quantity-input" data-id="{{ item.key }}">
      <button type="button" class="cart__item-quantity-button cart__item-quantity-plus">+</button>
    </div>
  </div>
  
  <button type="button" class="cart__item-remove" data-id="{{ item.key }}">
    {% render 'icon', name: 'close' %}
  </button>
</div>