<div class="product-template">
  <div class="product-template__inner">
    <div class="product-template__media">
      {% for media in product.media %}
        <div class="product-media">
          {% render 'product-media', media: media %}
        </div>
      {% endfor %}
    </div>
    
    <div class="product-template__info">
      <h1>{{ product.title }}</h1>
      
      <div class="product-price">
        <span class="product-price__current">{{ product.price | money }}</span>
        {% if product.compare_at_price > product.price %}
          <span class="product-price__compare">{{ product.compare_at_price | money }}</span>
        {% endif %}
      </div>
      
      <div class="product-description">
        {{ product.description }}
      </div>
      
      {% form 'product', product %}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <button type="submit" class="btn" name="add">
          {{ 'product.add_to_cart' | t }}
        </button>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Product",
  "settings": []
}
{% endschema %}